{% from "includes/formhelpers.html" import render_field %}

<!-- ARABA ANİMASYON FOOTER || CAR ANİMATİON FOOTER -->

<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3 col-md-6"></div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                        style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <div class="f_social_icon text-center">
                            <a href="#" class="fab fa-facebook"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-linkedin"></a>
                            <a href="#" class="fab fa-pinterest"></a>
                        </div>
                    </div>
                    <a href="/">
                        <button class="button-footer-logo" data-text="Awesome">
                            <span class="actual-text">&nbsp;Karticle&nbsp;</span>
                            <span aria-hidden="true" class="hover-text">&nbsp;Karticle&nbsp;</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="text-center">
                <p class="mb-0 f_400">© byKeskin.. 2023 Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
</footer>